extends base

block content 
    h1 ozayoshiの作品
    ul
      li
        a(class="btn btn-success my-2" href='https://github.com/ozuaq' role="button") ozayoshiのgithubページ
      li
        a(class="btn btn-primary my-2" href='/ima-chat-top' role="button") 今だけチャット