extends base

block content 
  h1 ozayoshiの作品
  ul
    li
      a(class="btn btn-success my-2" href='https://github.com/ozuaq/nodejs-myapp' role="button") ソースコード
    li
      a(class="btn btn-primary my-2" href='/nodejs-works/site-description' role="button") サイトの説明
  h2 アプリ一覧
  ul
    li
      a(class="btn btn-primary my-2" href='/nodejs-works/ima-chat-top' role="button") 今だけチャット
    li
      a(class="btn btn-primary my-2" href='https://github.com/ozuaq/word-emotion-restapi' role="button") Word emotion REST API