extends base

block content 
    ul
        li
            a(class="btn btn-primary my-2" href='/ima-chat-top' role="button") アプリTop 
    h1 アプリの説明
    p 今だけの人と今だけのチャットをしてみませんか？
    h2 できること
    p 好きなルーム名とユーザ名を入力してルームを作成します