extends base

block content 
  h1 大学での研究
  h2 研究内容
  p
    | 私は「複数端末連携による端末作業支援システムの提案と実装」というテーマで研究しています。
    | 研究室の教授から卒業された先輩の研究を知り、その「複数端末を用いた新しい作業支援の形を
    | 見つけたい・より快適な端末作業を実現したい」というコンセプトに惹かれて、この研究を
    | 引き継ぐことに決めました。
  p 
    | 現在の端末作業には不便に感じることがあります。作業中のアプリについて分からないことがある・
    | 知りたいことがある時は、その作業(メインの作業)を中断して、ブラウザなどのアプリに
    | 切り替えて検索を行い、情報を得て記憶したら、もとのアプリに切り替えてメインの作業に
    | 戻るという手間があります。
  p
    | この課題解決のために研究では、メインの作業をする端末の画面を監視して、その表示画面の
    | 内容に合った情報を他の端末に自動表示することによって、メインの作業を中断させず、
    | 集中できるようにするシステムの提案と実装を行っています。具体的な活動は、どのような課題が
    | 残っているか、その課題解決のためにどう改善するかを考え、改良案を提案し、教授や共同研究者と
    | 議論を重ねた上で、関連する研究や技術を調べながらシステムの実装を行っています。
  h2 資料  
  ul
    li
      a(class="btn btn-primary my-2" href='https://drive.google.com/file/d/1DpokAhmOGECteZroX144LDgBK7dvvY6M/view?usp=share_link' role="button") 研究詳細スライド