extends base

block content 
    ul
        li
            a(class="btn btn-primary my-2" href='/nodejs-works' role="button") Home 
    h1 サイトの説明
    p 
        | 成果物をまとめるサイトにしようと考えています
        br
        | サイトは
        span(class="fw-bold") Amazon Lightsail
        | を使用して、デプロイしました
        br
        | 他のアプリも作成したら、追加していく予定です